html, body{
    margin: 0;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}


/* Container===========*/
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* header===========*/
.header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    align-items: center;
}


/* Nav===========*/
.nav {
    display: flex;
    font-size: 14px;
    font-weight: 700;
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity .1s linear;
    text-transform: uppercase;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #cc1573;
    opacity: 1;
    transition: 0.2s;
}


/* Intro===========*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-padding-top: 100px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/intro-bg.jpg);
    background-size: cover;
}

.intro__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #bd177a 0 0 10px;
}

/* Gradient line===========*/
.gradients {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 5px;
    background: #cc1573;
    background: -webkit-linear-gradient(to right, #cc1573, #5722a9);
    background: linear-gradient(to right, #cc1573, #5722a9); 
}

/* Block name===========*/
.Block_name__about__us{
    position: absolute;
    width: 392px;
    height: 78px;
    bottom: -39px;
    left: 50%;
    margin-left: -196px;
    z-index: 100;
    background: #cc1573;
    background: -webkit-linear-gradient(to right, #cc1573, #5722a9);
    background: linear-gradient(to right, #cc1573, #5722a9);
    text-align: center; 
}
    
.Block_name__about__us h2{
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 0;
    line-height: 78px;
    font-weight: 700;
    text-transform: uppercase;
}


/* About us===========*/
.about_us {
    height: 100vh;
    background-image: url(img/about-us2.png), url(img/about-us1.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
}

.about_us_text {
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    position: absolute;
}


/* Block name===========*/
.Block_name__equipment{
    position: absolute;
    width: 392px;
    height: 78px;
    bottom: -105%;
    left: 50%;
    margin-left: -196px;
    z-index: 100;
    background: #cc1573;
    background: -webkit-linear-gradient(to right, #cc1573, #5722a9);
    background: linear-gradient(to right, #cc1573, #5722a9);
    text-align: center; 
}
    
.Block_name__equipment h2{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 0;
    line-height: 78px;
    font-weight: 700;
    text-transform: uppercase;
}


/* Equipment===========*/
.Equipment{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0 100px 0;
    background-color: #0c0527;
    justify-content: space-around;
}

.card_container{
  text-align: center;
}
.card{
  text-align: center;
  margin-bottom: 30px;
}

.card__inner {
    flex: initial;
    position: relative;
    height: 36rem;
    width: 32rem;
    -moz-perspective: 200rem;
    perspective: 200rem;
    margin: 50px 0;
  }

  .card__side {
    height: 36rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    /* We don't want to see the back part of the element. */
    backface-visibility: hidden;
    /* We don't want to see the back part of the element. */
    border-radius: 3px;
    overflow: hidden;
    /* The image is overflowing the parent. */
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side--front {
    background-size: cover;
  }
  .card__side--back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card__cover_back {
    margin-bottom: -30px;
    position: relative;
    background-size: cover;
    height: 10rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(to right, #cc1573, #5722a9);
  }
  .card__heading_back {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .card__cover_front {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(to right, #cc1573, #5722a9);
  }
  .card__heading_front {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .card__heading-span {
    font-family: "VT323", monospace;
    font-size: 3.2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: #fff;
  }
  .card__details {
    font-family: "Inconsolata", monospace;
    
  }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  .card__details ul li {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
  }
  .card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
    .card__inner {
      height: 783px;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    }
    .card__cover_front{
      display: none;
    }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none;
    }
    .card__side--front {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .card__side--back {
      transform: rotateY(0);
    }
    .card:hover .card__side--front {
      transform: rotateY(0);
    }
    .card__details {
      padding: 3rem 2rem;
    }
    .card__theme {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 1.5rem 4rem;
      text-align: right;
    }
    .card__theme-box {
      margin-bottom: 1.5rem;
    }
    .card__title {
      font-size: 4rem;
    }
  }
  .myBtn {
    background: #cc1573;
    background: -webkit-linear-gradient(to right, #cc1573, #5722a9);
    background: linear-gradient(to right, #cc1573, #5722a9);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 133px;
    height: 46px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
    .myBtn:hover, .myBtn:focus {
      font-size: 14px;
      font-weight: 700;
      box-shadow: 0 0 50px 0 rgba(150, 149, 149, 0.3);
      color: #ffffff; }


  /* Feedback window===========*/
.popups__inner{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup{
  background: #ececec;
  padding: 60px 90px;
  border-radius: 15px;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

a.close_popup{
  position: absolute;
  top: 9px;
  right: 22px;
  font-size: 37px;
  color: #5b5b5b;
  cursor: pointer;
}

.popup h3{
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 600;
}

.popup p{
  margin-top: 5px;
  font-size: 14px;
}

.popup form{
  margin-top: 25px;
}

.popup input[type="submit"]{
  margin-bottom: 0;
  cursor: pointer;
}

.popup input{
  display: block;
  margin: 0 auto 15px;
  width: 300px;
  border: 1px solid #afafaf;
  border-radius: 10px;
  padding: 15px 25px;
}

  
  /* Slider===========*/

  
  .slider-container {
    position: relative;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: all-scroll;
    overflow: hidden;
  }
  
  .slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
  }
  .slider-control.inactive:hover {
    cursor: auto;
  }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }
  .slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .slider-control.right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  }
  
  .slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
  }
  .slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
  }
  .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .slider {
    z-index: 1;
    position: relative;
    height: 100vh;
  }
  .slider.animating {
    transition: transform 0.5s;
    will-change: transform;
  }
  .slider.animating .slide__bg {
    transition: transform 0.5s;
    will-change: transform;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
 
  .slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
  }
  .slide:nth-child(1) {
    left: 0;
  }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("img/Slider/1.jpg");
  }
  .slide:nth-child(1) .slide__overlay-path {
    fill: #e99c7e;
  }
  @media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
      background-color: rgba(233, 156, 126, 0.8);
    }
  }
  .slide:nth-child(2) {
    left: 100%;
  }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("img/Slider/2.jpg");
  }
  .slide:nth-child(2) .slide__overlay-path {
    fill: #e1ccae;
  }
  @media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
      background-color: rgba(225, 204, 174, 0.8);
    }
  }
  .slide:nth-child(3) {
    left: 200%;
  }
  .slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("img/Slider/3.jpg");
  }
  .slide:nth-child(3) .slide__overlay-path {
    fill: #adc5cd;
  }
  @media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
      background-color: rgba(173, 197, 205, 0.8);
    }
  }
  .slide:nth-child(4) {
    left: 300%;
  }
  .slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("img/Slider/4.jpg");
  }
  .slide:nth-child(4) .slide__overlay-path {
    fill: #cbc6c3;
  }
  @media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
}
.slide:nth-child(5) {
  left: 400%;
}
.slide:nth-child(5) .slide__bg {
  left: -200%;
  background-image: url("img/Slider/5.jpg");
}
.slide:nth-child(5) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(5) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
  .slide:nth-child(6) {
    left: 500%;
  }
  .slide:nth-child(6) .slide__bg {
    left: -250%;
    background-image: url("img/Slider/6.jpg");
  }
  .slide:nth-child(6) .slide__overlay-path {
    fill: #e1ccae;
  }
  @media (max-width: 991px) {
    .slide:nth-child(6) .slide__text {
      background-color: rgba(225, 204, 174, 0.8);
    }
}
.slide:nth-child(7) {
  left: 600%;
}
.slide:nth-child(7) .slide__bg {
  left: -300%;
  background-image: url("img/Slider/7.jpg");
}
.slide:nth-child(7) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(7) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(8) {
    left: 700%;
  }
  .slide:nth-child(8) .slide__bg {
    left: -350%;
    background-image: url("img/Slider/8.jpg");
  }
  .slide:nth-child(8) .slide__overlay-path {
    fill: #cbc6c3;
  }
  @media (max-width: 991px) {
    .slide:nth-child(8) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
 }
 

/* Footer===========*/
.footer {
  display: flex;
  padding: 70px 0;
  background-color: #0E0A1D;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;
  text-align: right;
  }

.fa {
  font-size: 48px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
}

.fa:hover {
  opacity: 1;
  transition: 0.2s;
}

.number {
display: flex;
color: #fff;
font-size: 18px;
font-family: sans-serif;
font-weight: 700;
align-items: center;
opacity: 0.8;
}

.social__item {
 text-align: center;
}

.footer__nav {
  font-size: 14px;
  font-weight: 700;
}

.footer__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  text-transform: uppercase;
}

.footer__link:hover {
  opacity: 1;
  transition: 0.2s;
}


/* Media===========*/

.burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  }

  .burger__item:before {
    top: -8px;
  }

  .burger__item:after {
    bottom: -8px;
  }

/* Media===========*/

@media (max-width: 1400px) {
.about_us {
  background-image: none;
  height: 300px;
  }

.about_us_text {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}
.Block_name__about__us {
  display: none;
}

.Block_name__equipment {
  display: none;
}

}

@media (max-width: 767px) {
  

/* Nav */
.nav {
  display: none;
}

.intro {
  height: auto;
  padding-top: 130px;
  padding-bottom: 30px;
}

.intro__title {
  font-size: 30px;
}

/* Burger */
.burger {
  display: block;
}
}